<div class="col-12">
    <div class="card">
        <h5>Liste des services</h5>
        <p-toast></p-toast>
        <p-table [value]="services" dataKey="nom_service" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <button pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" label="{{isExpanded ? 'Cacher les fonctions' : 'Voir tous les fonctions'}}" (click)="expandAll()"></button>
                <button pButton pRipple label="Ajouter un service" style="margin-left: 1%;" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                <div class="flex table-header">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 1rem"></th>
                    <th pSortableColumn="nom_service">Nom de service <p-sortIcon field="nom_service"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td style="min-width: 12rem;">{{product.nom_service}}</td>
                    <td style="min-width: 1rem;">
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="editService(product)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteService(product)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-3">
                            <p-table [value]="product.fonctions" dataKey="poste" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <button pButton pRipple label="Ajouter fonction" style="margin-bottom: 1%;" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewFonction(product)"></button>
                                    </tr>

                <tr>
                    <th pSortableColumn="poste" colspan="2">Fonction <p-sortIcon field="poste"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td style="min-width: 12rem;">{{order.poste}}</td>
                    <td style="min-width: 1rem;">
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="editFonction(order, product)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteFonction(order)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">There are no order for this product yet.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
</div>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '600px'}" header="Details de Service" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Nom De Service</label>
            <input type="text" pInputText id="nom_service" [(ngModel)]="service.nom_service" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !service.nom_service}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !service.nom_service">Nom is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="fonctionDialog" [style]="{width: '600px'}" header="Details de fonction" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Nom de fonction</label>
            <input type="text" pInputText id="poste" [(ngModel)]="fonction.poste" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !fonction.poste}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !fonction.poste">Nom is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveFonction()"></button>
    </ng-template>
</p-dialog>

