<div class="card mt-4">
    <h5>Liste des educations</h5>
    <p-table #dt1 [value]="customers1" dataKey="id" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
        [paginator]="true" [globalFilterFields]="['date_debut','date_fin','description','filiere', 'diplome']"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <button pButton label="Ajouter" class="p-button-success mb-2" icon="pi pi-plus"
                    (click)="openNew()"></button>
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                        placeholder="Chercher" class="w-full" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Date debut
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Date fin
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Description
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Attestation
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Filiere
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Diplome
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td style="min-width: 10rem;">
                    {{customer.date_debut}}
                </td>
                <td style="min-width: 10rem;">
                    {{customer.date_fin}}
                </td>
                <td style="min-width: 12rem;">
                    {{customer.description}}
                </td>
                <td style="min-width: 10rem;">
                    {{customer.attestation}}
                </td>
                <td style="min-width: 12rem;">
                    {{customer.filiere}}
                </td>
                <td style="min-width: 12rem; ">
                    {{customer.diplome}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Aucun education est trouvee.</td>
            </tr>
        </ng-template>
    </p-table>
</div>





<p-dialog [(visible)]="productDialog" [style]="{width: '600px'}" header="Details de l'education" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="date_debut">Date Debut</label>
            <input type="date" pInputText id="date_debut" [(ngModel)]="education.date_debut" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !education.date_debut}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !education.date_debut">Inserer une date debut.</small>
        </div>
        <div class="field">
            <label for="date_fin">Date Fin</label>
            <input type="date" pInputText id="date_fin" [(ngModel)]="education.date_fin" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !education.date_fin}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !education.date_fin">Inserer une date de fin.</small>
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="education.description" required rows="2" cols="20"></textarea>
        </div>
        <div class="field">
            <label for="filiere">Filiere</label>
            <input type="text" pInputText id="filiere" [(ngModel)]="education.filiere" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !education.filiere}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !education.filiere">Entrer la filiere.</small>
        </div>
        <div class="field">
            <label for="diplome">Diplome</label>
            <input type="text" pInputText id="diplome" [(ngModel)]="education.diplome" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !education.diplome}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !education.diplome">Entrer le diplome.</small>
        </div>
        <div class="field">
            <label for="name">Attestation</label>
            <input type="file" accept="file/*" pInputText id="attestation" [(ngModel)]="education.attestation" autofocus />
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
